*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
ul,ol{
    list-style-type: none;
}

.clr{
    clear: both;
}
.rr-10{
    margin-right: 0!important;
}
.container{
    width: 1170px;
    margin: 0 auto;
}
/*------header----*/
.head{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 111;
    transition: all linear .4s;
}
.mbg{
    background: purple;
}
.logo{
    width: 170px;
    float: left;
}
.logo img{
    padding-top: 34px;
}
.menu{
    width: 1000px;
    float: left;
    text-align: right;
}
.menu ul li{
    display: inline-block;
}
.menu ul li a{
    line-height: 90px;
    padding: 0 22px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    color: #cacaca;
    transition: 0.3s;
    font-family: 'Roboto Condensed', sans-serif;
}
.menu ul li a:hover{
    color: #18a8a8;
}
.menu ul li:last-child a{
    padding-right: 0;
}
/*------banner----*/
#banner{
    background: url(../images/ban.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 330px;
    padding-bottom: 250px;
}
.bantext{
    text-align: center;
}
.bantext h1{
    font-size: 50px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif;
}
.bantext h2{
    font-weight: 300;
    font-size: 40px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-family: 'Roboto Slab', serif;
}
.bantext p{
    color: #fff;
    font-weight: 300;
    font-size: 14px;
      padding-top: 10px;
    font-family: 'Roboto Slab', serif;
}
/*------intro------*/
#intro{
    padding-top: 80px;
     background: #f9f9f9;
}
.intro-text{
    text-align: center;
}
.intro-text h2{
    font-weight: 300;
    font-size: 30px;
    color: #444;
    font-family: 'Roboto Slab', serif;
}
.intro-text p{
    font-weight: 300;
    font-size: 14px;
    color: #444;
    padding-top: 16px;
    font-family: 'Roboto', sans-serif;
}

/*------Services------*/
#services{
    padding-top: 70px;
    background: #f9f9f9;
}
.head-text{
    text-align: center;
    padding-bottom: 30px;
}
.head-text h2{
    font-weight: 700;
    font-size: 18px;
    color: #444;
    font-family: 'Roboto Condensed', sans-serif;
}
.ser-item{
    width: 370px;
    border: 1px solid #e3e3e3;
    padding: 15px;
    float: left;
    background: #fff;
    margin-right: 30px;
    box-sizing: border-box;
    text-align: center;
    transition: all linear .3s;
}
.ser-item:hover{
     box-shadow:  0px 0px 10px rgba(15, 153, 195, 0.99);
}
.ser-item img{
    width: 100%;
    
}
.ser-item h3{
    font-weight: 700;
    font-size: 17px;
    color: #444;
    padding-top: 19px;
    text-transform: capitalize;
    font-family: 'Roboto Slab', serif;
}
.ser-item p{
    font-weight: 400;
    font-size: 14px;
    color: #666;
    padding: 0 20px;
    padding-top: 10px;
    line-height: 22px;
    font-family: 'Roboto', serif;
} 
/*------galley------*/
#galley{
    background: #2c2c2c;
    margin-top: 82px;
}
#galley .head-text{
    padding-top: 51px;
}
#galley .head-text h2{
    color: #d5d5d5;
    text-transform: uppercase;
    position: relative;
    display: inline-block;
}
#galley .head-text h2:before{
    position: absolute;
    content: '';
    width: 100px;
    height: 2px;
    background: #535353;
    top: 50%;
    left: -115px;
    transform: translateY(-50%);
}
#galley .head-text h2:after{
    position: absolute;
    content: '';
    width: 100px;
    height: 2px;
    background: #535353;
    top: 50%;
    right: -115px;
    transform: translateY(-50%);
}
.gal-item{
    width: 25%;
    float: left;
    position: relative;
}
.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background:rgba(0, 0, 0, 0.60);
    text-align: center;
    opacity: 0;
    transition: all linear .3s;
}
.gal-item:hover .overlay{
    opacity: 1;
}
.overlay i{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    background: purple;
    color: #fff;
    line-height: 40px;
    font-size: 20px;
}
.gal-item img{
    width: 100%;
}
.btn{
    text-align: center;
    padding-top: 60px;
    padding-bottom: 49px;
}
.btn a{
    text-transform: uppercase;
    color: #a6a6a6;
    border: 1px solid #797979;
    padding: 16px 22px;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Roboto', serif; 
}
.btn i{
    color: #cc2d2d;
}
/*------Jurnal--------*/
#jurnal{
    padding-top: 78px;
}
#jurnal .head-text{
    
}
#jurnal .head-text h2{
    color: #444;
    text-transform: uppercase;
    position: relative;
    display: inline-block;
}
#jurnal .head-text h2:after{
    position: absolute;
    content: '';
    width: 100px;
    height: 2px;
    background: #f9f9f9;
    top: 50%;
    left: -115px;
    transform: translateY(-50%);
    
}
#jurnal .head-text h2:before{
    position: absolute;
    content: '';
    width: 100px;
    height: 2px;
    background: #f9f9f9;
    top: 50%;
    right: -115px;
    transform: translateY(-50%);
    
}
.jar-item{
    width: 370px;
    margin-right: 30px;
    text-align: center;
    border: 1px solid #e3e3e3;
    background: #fff;
    float: left;
     box-sizing: border-box;
}
.jar-item h3{
    font-weight: 700;
    font-size: 16px;
    color: #444;
    padding-top: 22px;
    font-family: 'Roboto Slab', serif;
}
.jar-item h6{
    font-weight: 400;
    font-size: 12px;
    color: #999;
    padding-top: 12px;
    padding-bottom: 20px;
    font-family: 'Roboto', serif;
}
.jar-item img{
    width: 100%;
} 
.jar2-text{
    padding: 0 25px;
    text-align: left;
}
.jar2-text p{
    font-weight: 400;
    font-size: 14px;
    color: #666;
    line-height: 22px;
    padding-top: 16px;
    padding-bottom: 24px;
    font-family: 'Roboto', serif;
}
.jar2-text a{
    text-transform: uppercase;
    font-weight: 400;
    font-size: 11px;
    color: #999;
    border-bottom: 1px solid #28b8d8;
    font-family: 'Roboto', serif;
}

.jar2-text span{
    float: right;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 11px;
    color: #999;
    font-family: 'Roboto', serif;
}
/*------Little part--------*/
#little{
    padding: 80px 0;
}
.little{
    width: 570px;
    margin-right: 30px;
    float:left;
}
.little-head{
    padding-bottom: 30px;
}
.little h2{
    font-weight: 700;
    font-size: 18px;
    color: #444;
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif;
}
.little-img{
    width: 195px;
    float: left;
    margin-right: 27px;
}
.little-img img{
    width: 100%;
}
.little-text{
    width: 346px;
    float: left;
}
.little-text h4{
    font-weight: 300;
    font-size: 18px;
    color: #666;
    line-height: 28px;
    padding-bottom: 18px;
    font-family: 'Roboto Slab', serif;
}
.little-text p{
    font-weight: 400;
    font-size: 14px;
    color: #666;
    line-height: 24px;
    font-family: 'Roboto', serif;
}
.li-de-img{
    width: 85px;
    text-align: center;
    margin-right: 22px;
    float: left;
}
.li-de-img img{
    width: 50px;
}
.li-de-text{
    width: 460px;
    float: left;
}
.lit-item{
    padding-bottom: 20px;
}
.li-de-text h3{
    font-weight: 700;
    font-size: 17px;
    padding-bottom: 15px;
    color: #444;
    font-family: 'Roboto Slab', serif;
}
.li-de-text p{
    font-weight: 400;
    font-size: 14px;
    color: #666;
    line-height: 22px;
    font-family: 'Roboto', serif
}
/*------footer part--------*/
#footer{
    padding: 68px 0;
    background: #373737;
}
.footer-item{
    width: 256px;
    margin-right: 48px;
    float: left;
}
.footer-item h3{
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    color: #f0f0f0;
    padding-bottom: 18px;
    font-family: 'Roboto Condensed', sans-serif;
    
}
.footer-item p{
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #cacaca;
    padding-bottom: 22px;
    font-family: 'Roboto', sans-serif;
} 
.footer-item span{
    color: #cacaca;
    font-weight: 400;
    font-size: 14px;
    display: block;
     font-family: 'Roboto', sans-serif;
}
/*------Copyright part--------*/
#copyright{
    background: #333333;
    padding: 
}
.copy-text p{
    line-height: 90px;
    color: #cacaca;
    font-weight: 400;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}


.updn{
    position: fixed;
    bottom: 30px;
    right: 30px;
    display: none;
}

.updn i{
    position: ;
    width: 40px;
    height: 40px;
    background: purple;
    color: #fff;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
}


#counterup{
    padding-top: 50px;
}
.counter-item{
    width: 25%;
    float: left;
    text-align: center;
}
.counter-item h2{
    font-size: 60px;
    font-weight: 700;
    color: purple;
    padding-bottom: 10px;
}
.counter-item p{
    font-size: 25px;
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom: 20px;
}
.c-item{
    border: 1px solid #c6b9b9;
    background: #ddd;
    width: 80%;
    padding: 30px 20px;
    margin: 0 auto;
}

.counter-item h3{
    font-size: 60px;
    font-weight: 700;
    color: purple;
    padding-bottom: 10px;
}


.preloader{
    position: fixed;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 1111;
}
.load{position:absolute;top:50%;left:50%;transform:translate(-50%, -50%);
  /*change these sizes to fit into your project*/
  width:100px;
  height:100px;
}
.load hr{border:0;margin:0;width:40%;height:40%;position:absolute;border-radius:50%;animation:spin 2s ease infinite}

.load :first-child{background:#19A68C;animation-delay:-1.5s}
.load :nth-child(2){background:#F63D3A;animation-delay:-1s}
.load :nth-child(3){background:#FDA543;animation-delay:-0.5s}
.load :last-child{background:#193B48}

@keyframes spin{
  0%,100%{transform:translate(0)}
  25%{transform:translate(160%)}
  50%{transform:translate(160%, 160%)}
  75%{transform:translate(0, 160%)}
}



.typed::after {
	content: '|';
	display: inline;
	-webkit-animation: blink 0.7s infinite;
	-moz-animation: blink 0.7s infinite;
	animation: blink 0.7s infinite;
}

/*Removes cursor that comes with typed.js*/
.typed-cursor{
   opacity: 0;
	display: none;
}


#video{
    background-image: url(../images/ban.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 100px 0;
    position: relative;
}
#video:after{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.58);
}

.video{
    position: relative;
    z-index: 1;
    text-align: center;
}
.video i{
    color: red;
    font-size: 60px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}





